@import './assets/css/font-awesome.css';
body {
  background: #222!important;
  min-height: 100vh!important;
}
#root{
  margin: 0 auto; 
  background: #222;
  text-align: center;
  height: 100%;
}
.mainDiv{
  display:flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.death{
  background: black;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(255,255,255,0.2);
}

.alive{
  @extend .death;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
}
.born {
  @extend .death;
  background: rgba(255,0,0, 0.3);
}
.padding{
  padding-top: 8px;
  .btn {
    margin-left: 5px;
    border: 1px solid gray;
  }
}

.dark{
  background-color: black;
  color: white;
}
.storageItem{
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding: 7px;
  background-color: rgba(0,0,0,0.05);
  margin-bottom: 3px;
  &:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
  }
}
#gameControls {
  .btn {
    margin-left: 10px;
  }
  li {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}
.controles{
  width: 35px;
  height: 35px;
  background-size: cover;
}
#wall {
  @extend .controles;
  background-image: url(./assets/images/wall.jpg);
}
#brick {
  @extend .controles;
  background-image: url(./assets/images/brick.jpg);
}
#wood {
  @extend .controles;
  background-image: url(./assets/images/wood.jpg);
}
#water {
  @extend .controles;
  background-image: url(./assets/images/water.jpg);
}

#delete{
  @extend .controles;
  background: gray;
}
.wall {
  @extend .death;
  background-image: url(./assets/images/wall.jpg);
  background-size: cover;
}

.brick {
  @extend .death;
  background-image: url(./assets/images/brick.jpg);
  background-size: cover;
}

.water {
  @extend .death;
  background-image: url(./assets/images/water.jpg);
  background-size: cover;
}

.wood {
  @extend .death;
  background-image: url(./assets/images/wood.jpg);
  background-size: cover;
}


.matActive{
  border: 1px solid red;
}


.delateItemSpan{
  color: #d9534f;
  vertical-align: middle;
  &:hover{
    color: red;
  }
}